<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card box">
                <ul class="nav nav-tabs" id="myFormTabs">
                    <li class="active"><a href="#LoginTab">
                            <h1>Вход</h1>
                        </a></li>
                    <li><a href="#SingUpTab">
                            <h1>Регистрация</h1>
                        </a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="LoginTab">
                        <form action="/enter/login" name="login" method="POST">
                            <p class="text-muted"> Моля въведете име или email и парола!</p>
                            <input type="text" name="usernameOrEmail" placeholder="Име или email">
                            <input type="password" name="password" placeholder="Парола">
                            <a role="button" class="forgot text-muted" data-bs-toggle="modal"
                                data-bs-target="#restorePasswordModal">Забравена парола?</a>
                            <input type="submit" name="" value="Login" href="#">
                        </form>
                    </div>


                    <div class="tab-pane" id="SingUpTab">
                        <form action="/enter/signup" name="signup" method="POST">
                            <p class="text-muted"> Моля въведете име, email и парола!</p>
                            <input type="text" name="username" placeholder="Име">
                            <input type="text" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Парола">
                            <input type="submit" name="" value="SingUp" href="#">
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="restorePasswordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Why are u?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name='restorePassword' action="/enter/sendSecretMail" method='GET' onsubmit="">
                    <label>
                        Вашият email:
                        <input type="email" pattern='[a-zA-Z]*@(gmail\.com|yandex\.ru|abv\.bg)' name='email'>

                    </label>
                    <button type="submit" class="btn btn-primary">Изпрати</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
            </div>
        </div>
    </div>
</div>