<div class="col-12 col-md-6 offset-md-3 mt-5 mb-5 bg-white border border-4 border-warning rounded-pill ">

    <form action="/account/changePassword" method="post" onsubmit="SendForm(this); return false;">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <label class=" text-center mb-3 mt-3">
                <span class="fs-3">Нова парола:</span>
                <br>
                <input type="text" name="parolaBatiii">
            </label>
            <br>
            <button class="btn btn-primary mb-3" type="submit">ПРОМЕНИ</button>
        </div>
    </form>

</div>

<hr>

<div class="col-12 col-md-6 offset-md-3 mt-5 bg-white border border-4 border-danger rounded-pill ">

    <form action="/account/deleteUser" method="post">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <label class="text-center mb-3 mt-3">
                <span class="fs-2">ИЗТИЙ АКАУНТ:</span>
            </label>
            <br>
            <input type="hidden" name="deleteID" value="{{user.id}}">
            <button class="btn btn-primary mb-3" type="submit">ИЗТРИЙ</button>
        </div>
    </form>

</div>