<footer>
    <div class="row">
        <div class="col-md-6 col-sm-12 pt-3">
            <h1 class="text-center">FAQ</h1>
            <div class="d-flex align-items-center">
                <button class="btn w-75 text-center btn-secondary ms-auto me-auto border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq-what" aria-expanded="false">
                    Какво е това?
                </button>
                <div class="collapse" id="faq-what">
                    <div class="card card-body">
                        Това е уеб сайт през който ученици и учители от СУ "Антим I" могат да контролират мултимедията в
                        училището
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mt-5">
                <button class="btn w-75 text-center btn-secondary ms-auto me-auto border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq-how" aria-expanded="false">
                    Как да се включа?
                </button>
                <div class="collapse" id="faq-how">
                    <div class="card card-body">
                        Регистрирай се! (И след това намери модератор и го помоли да ти да даде права)
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mt-5">
                <button class="btn w-75 text-center btn-secondary ms-auto me-auto border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq-which" aria-expanded="false">
                    Кои видеа могат да се предлагат?
                </button>
                <div class="collapse" id="faq-which">
                    <div class="card card-body">
                        Накратко-хубави :=)</br>
                        Можете да предложите всяко видео от youtube, но то ще бъде проверено от най-професионалните
                        модератори в този свят! (Тъй че по-добре да съотвтства на училищните ценности !!1!)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 pt-3">
            <h1 class="text-center">Контакти</h1>
            <button class="btn w-100 text-center btn-secondary ms-auto me-auto border border-white" type="button"
                data-bs-toggle="collapse" data-bs-target="#contacts-joke" aria-expanded="false">
                Покажи контакти
            </button>
            <div id="contacts-joke" class="carousel slide collapse" data-bs-interval="2000" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.masterhaus.bg/files/products/09/04/01/0904010148-1.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-sm-block text-dark">
                            <h5>За цега тази опция не е валидна</h5>
                            <p>Очаквайте пълноценния старт на сайта</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn2.praktis.bg/media/catalog/product/cache/1/image/700x/9df78eab33525d08d6e5fb8d27136e95/7/_/7_shuko_kontakt_1.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-sm-block text-dark">
                            <h5>За цега тази опция не е валидна</h5>
                            <p>Очаквайте пълноценния старт на сайта</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://s13emagst.akamaized.net/products/24752/24751657/images/res_bce415f000774caef58afea01127d8f8.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-sm-block text-dark">
                            <h5>За цега тази опция не е валидна</h5>
                            <p>Очаквайте пълноценния старт на сайта</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>