<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">


    <!--<img src="favicon.png" class="d-inline-block align-top" alt="Икона" width="30" height="30">-->
    <a class="navbar-brand orange-text fst-italic fw-bold" href="/"> Antim1TV </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
        aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation"
        onclick="buttonCollapseClick()">
        <span>Меню</span>
    </button>

    <div class="collapse navbar-collapse bg-secondary justify-content-end" id="navbar-menu">
        <ul class="navbar-nav mr-auto justify-content-end h3">

            <li class="nav-item">
                <a class="nav-link {{#if active.index}} active {{/if}}" href="/"><i class="bi bi-house-door-fill"></i>
                    Начало</a>
            </li>

            {{#if loggedin}}

            <li class="nav-item">
                <a class="nav-link {{#if active.suggest}}active{{/if}}" href="/suggest"><i class="bi bi-film"></i>
                    Предложи</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{#if active.account}}active{{/if}}" id="account-dropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i>
                    Акаунт</a>

                <ul class="dropdown-menu" aria-labelledby="account-dropdown">
                    <li><a class="dropdown-item" href="/account/me">Мой профил</a></li>
                    <li><a class="dropdown-item" href="/account/logout">Излез</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/account/allows">Одобри контент</a></li>
                    <li><a class="dropdown-item" href="/account/users">Потребители</a></li>
                </ul>
            </li>

            {{else}}
            <li class="nav-item">
                <a class="nav-link {{#if active.account}}active{{/if}}" href="/enter"><i class="bi bi-person"></i>
                    Вход</a>
            </li>

            {{/if}}

        </ul>
    </div>

    <script>
        function buttonCollapseClick() {
            if ($('#navbar-menu').hasClass('collapse')) {
                $('#navbar-menu').removeClass("collapse");
            }
            else {
                $('#navbar-menu').addClass("collapse");
            }
        }
    </script>

</nav>