<div class="col-12">
        <img class="w-100 h-auto rounded-pill" src="https://media2.giphy.com/media/S5h4gvxxc1qlG/200.gif?cid=95b279442e7e9c6e80b4770b404eac6abf2c0c77ee564925&rid=200.gif&ct=g" alt="" srcset="">
</div>