#VideoSuggest div {
    border-radius: 10px;
}

#VideoSuggest input {
    border-radius: 10px;
}

.cool-submit {
    background-color: rgba(154, 246, 34, 0.883);
    margin-left: 0px;
}

.cool-submit:hover::after {
    content: "Прати";
}

#VideosForVote {
    overflow: hidden;
}

#showingToggle {
    border: 1px solid rgba(255, 254, 254, 0.5);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
}

#showingToggleWrapper {
    position: relative;
    top: -20px;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 30% 30%;
    height: 75px;
}